/* setting logo animation */
#logo{
    width: 475px;
    animation: logo_move 5s;
}
@keyframes logo_move{
    from{width:25px; opacity: 0;}
    to{width:475px; opacity: 1;}
}
/* setting body style */
body{
    font-family: 'Poppins', serif;
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;
}
/* setting flex properties of header and items within header i.e. nav, nav_links */
header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
nav{
    display: flex;
    flex-direction: row;
}
.nav_links{
    display: flex;
    flex-direction: inherit;
    align-items: center;
}
.nav_links a:visited{
    color: blue;
}
/* setting card styles and card flex properties */
.card > header{
    background: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0px;
    border-radius: inherit;
}
.card{
    border-radius: 50px 50px 0px 0px;
    display: flex;
    flex-basis: 450px;
    flex-direction: column;
}
/* setting pricing flex properties */
.pricing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
/* setting image style and gallery flex format properties */
.gallery img{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
/* setting larger size screen format properties */
@media screen and (min-width: 900px) {
    .pricing,.card{
        flex-basis: 275px;
    }
    a + header{
        position: fixed;
        top:0;
        width: 100%;
    }
}
main{
    margin-top: 100px;
}
/* setting reduced motion accessibility changes */
@media (prefers-reduced-motion: reduce) {
    #logo{
        animation: none;
    }
}
/* setting print page format */
@media print{
    body{
        font-family: Arial, Helvetica;
        background-image: none;
    }
    main{
        margin: 0px;
    }
    header{
        justify-content: center;
    }
    nav{
        width: 100%;
        justify-content: inherit;
    }
    nav .nav_links{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .pricing{
        display: flex;
        flex-flow: row nowrap;
        align-items: end;
    }
    .card{
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }
    .card > ul li:nth-child(2n)::after{
        content: '\1F44D';
    }
    .gallery, #gallery{
        display: none;
    }
}